{{!-- app/components/header-component.hbs --}}
<nav class="w-full bg-[#1C1E24] text-slate-100 flex justify-between p-5">
    {{!-- Navbar content goes here --}}
    <div class="w-10/12 flex justify-center">
        <a href="/" class="text-2xl font-bold text-white no-underline">Home</a>
        <a href="/menu" class="text-2xl font-bold text-white no-underline ml-5">Menu</a>

        {{#if this.session.isAuthenticated}}
            <div class="dropdown ml-5">
                <button class="dropbtn text-2xl font-bold text-white no-underline" type="button">Account</button>
                <div class="dropdown-content">
                    <a href="/profile" class="text-xl font-semibold text-white no-underline">Profile</a>
                    <a href="/orders" class="text-xl font-semibold text-white no-underline">Orders</a>
                    <a href="/logout" class="text-xl font-semibold text-white no-underline">Logout</a>
                </div>
            </div>
        {{else}}
            <a href="/login" class="text-2xl font-bold text-white no-underline ml-5">Login</a>
        {{/if}}

    </div>
</nav>