{{page-title "Botdistrikt Restaurant Project"}}
{{header-component}}
<div class="container mx-auto flex flex-col justify-center">
    <h1 class="text-3xl font-semibold text-center mt-5">Welcome to Botdistrikt Restaurant</h1>
    <p class="text-center mt-5 md:w-8/12 mx-auto">
        Join us for an unforgettable dining experience where technology meets taste.
        Our menu is crafted with the freshest ingredients and innovative recipes,
        all served in a modern ambiance powered by the latest in culinary tech.
    </p>

    <div class="flex flex-col items-center justify-center">
        <img src="/images/foodmenu.png" alt="Menu" class="size-40">
        <a href="/menu" class="text-center mt-5 mx-auto bg-[#1C1E24] text-white py-2 px-4 rounded-md">View Menu</a>
    </div>

    <p class="text-center mt-5 md:w-8/12 mx-auto">
        This restaurant is to showcase Restaurant Project.
        The frontend is built with Ember.js and Tailwind CSS.
        The backend is built with Loopback 3 and PostgreSQL.
    </p>
    <br>
</div>
{{outlet}}
{{footer-component}}